host:
    app.hostname:
        cluster: app
    db.hostname:
        cluster: db
    stage.hostname:
        cluster: stage

cluster:
    app:
        env:
            - .env1
            - .env2
        procfile: Procfile
    db:
        env:
            - .env1
            - .env2
        procfile: Procfile
    stage:
        env:
        procfile:
    __default__:
        env:
            - .env1
        procfile: Procfile
